html, body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-width: 980px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	align-content: stretch;
}

/*Стили для блоков*/
.blockButtons, .block {
	position: relative;
    margin: 0;
    background: blue;
    background: linear-gradient(to right bottom,#6C97DB,#042C6A);
	align-content: stretch;
	
}
.blockButtons {
	width: 500px;
}
.block {
	width: 100%;
	min-width: 440px;
}
.block_title {
	border-bottom:5px dotted yellow;
	height: 100px;
}

/*Приставка*/
span {
    border-right: 2px solid orangered;
    border-top: 2px solid orangered;
}
.block label {
    font-size: 20px;
}


/*Измененный текст*//*Поле для ввода текста*/
#changeText , #text  {
	display: block;
	 position:relative;
	text-indent: 30px;
    border-radius: 30px;
	 background: #fff;
	 min-width: 400px;
	 max-width: 600px;
	 width:500px;
     height: 400px;   
    font-weight: bold;
	font-size:200%;
	margin:20px auto;
}



h2, label {
    color: #fff;
    text-align: center;
}
/*
textarea {
    margin-left: 5%;
}*/
/*Стили для кнопок*/
input {
    width: 130px;
    height: 70px;
    margin: 20px 10px;
    font-family: "Cambria";
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border-radius: 100px;
}

input:hover{
    font-size:22px;
}
.block label {
    margin-left: 5%;
}

/*Кнопки*/
#wordButton{
    background:#9C599E;
    background: linear-gradient(to top,#D0FF62,#B55037);
}
#wordButton:hover {
    background:#CBA0CB;
    background: linear-gradient(to top,#F1FFA9,#FFA088);
}

#glasButton {
    background:#9C599E ;
    background: linear-gradient(to top,#E97BE4,#321A32);
}
#glasButton:hover {
    background:#CBA0CB;
    background: linear-gradient(to top,#FFB5FB,#A032A0);

}
#soglButton {
    background:#9C599E ;
    background: linear-gradient(to top,#0CC0E1,#023A61);
}
#soglButton:hover {
    background:#CBA0CB;
    background: linear-gradient(to top,#00D9FF,#70A5CA);
}
#slogButton {
    background:#9C599E;
    background: linear-gradient(to top,#D2DD91,#28763C);
}
#slogButton:hover {
    background:#CBA0CB;
    background: linear-gradient(to top,#F2FFA7,#56FF80);
}
#pristButton{
    background:#C15378;
    background: linear-gradient(to top,#C1899C,#C13161);
}
#pristButton:hover {
    background:#9C599E;
    background: linear-gradient(to top,#FFB5CE,#FF77A4);
}

